<!-- <div className='row row-cols-sm-1 row-cols-md-1 justify-content-center'>
    {/* div for image and for who am I statement */}
    <div className='col d-flex'>
        <img className='m-auto h-50 rounded img-fluid' src={intro} alt=''/>
    </div>
    
    {/* child div for statement */}
    <div className='col col-10-sm m-auto'>
        <h1 className=''>Hello, I'm <span className='text-danger'>Santiago Venegas.</span>
        <br /> I'm a Fullstack Developer.</h1>
    
        {/* another child div for bootstrap buttons */}
       
            <div className="btn-group" role="group" aria-label="Button Prompts">
                <button type="button" class="btn home-btn" >Portfolio</button>
                <span className='m-auto'>|</span>
                <button type="button" class="btn home-btn">Resume</button>
            </div>
    </div>
    </div> -->