@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
    font-family: 'Playfair Display', serif !important;
}

.project-link:hover {
    background-color: white;
}

.project-div-weather {
    background-image: url('./assets//projects/weatherdash.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-div-ecom {
    background-image: url('./assets//projects/ecomdb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-div-employee {
    background-image: url('./assets//projects/employee.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-div-social {
    background-image: url('./assets//projects/social.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-div-notes {
    background-image: url('./assets//projects/notes.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-div-team {
    background-image: url('./assets//projects/team.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-div-employee:hover {
    background-image: unset;
}

.project-div-weather:hover {
    background-image: unset;
}

.project-div-ecom:hover {
    background-image: unset;
}

.project-div-social:hover {
    background-image: unset;
}

.project-div-notes:hover {
    background-image: unset;
}

.project-div-team:hover {
    background-image: unset;
}

.project-info {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.project-info:hover {
    opacity: 1;
}

.resume-btn:hover {
    color: #f8f9fa !important;
    font-weight: bold;
}

.nav-focus:hover {
    color: #dc3545 !important;
}
