@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif !important;
}

.project-link:hover {
    background-color: black;
    opacity: 50%;
    scrollbar-darkshadow-color: black;
}

.project-div {
    background-image: url('./assets//projects/0.jpg');
    background-position: center;
    background-size: contain;
}

.project-div:hover {
    background-image: unset;
}